<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Calculadora</h1>
    <form action="/calculadora" method="POST">
        <label for="operacion">Operación:</label>
        <select id="operacion" name="operacion">
            <option value="suma">Suma</option>
            <option value="resta">Resta</option>
            <option value="multiplicacion">Multiplicación</option>
            <option value="division">División</option>
        </select>
        <br>
        <label for="num1">Número 1:</label>
        <input type="text" id="num1" name="num1">
        <br>
        <label for="num2">Número 2:</label>
        <input type="text" id="num2" name="num2">
        <br>
        <button type="submit">Calcular</button>
    </form>

    <div class="resultado">
        <h2>Resultado:</h2>
        <p>{{ resultado }}</p>
    </div>
</body>
</html>
